$base-font-size: 16;

// strips away any unit from a value: e.g. "16px" => 16
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function px-to-rem($size, $base: $base-font-size) {
  $pxUnitless: strip-unit($size);
  @return #{$pxUnitless / $base}rem;
}

*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
  height:100%;width:100%;
  font-size:100%;line-height:1;/* font-size:14px; */-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a{color:inherit;}


.container {
	margin: 0px auto;
	max-width: px-to-rem(1110px);
}

body {
    background-color: #EAEAEA;
	margin: 0;
}

header{
    height: px-to-rem(60px);
}

.menu{
    display: flex;
	justify-content: space-between;

    &_logo{
        padding-top: px-to-rem(15px);
        a{
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: px-to-rem(25px);
            color: #101010;
        }
    }
    
    &_links{
        padding-top: px-to-rem(20px);
        display: flex;
		justify-content: space-between;
        a{
            color: #838383;
            &:hover{
                color:#FFA542;
            }
        }
        &_item{
            padding-left: px-to-rem(20px);
            padding-right: px-to-rem(20px);
            width: px-to-rem(23px);
            height: px-to-rem(23px);
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
        }
    }
}

.main{
    min-height: px-to-rem(543px);
    display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
    padding-top: px-to-rem(28px);
    

    .cart_block{
       /*  display: flex; */
        /* min-width: px-to-rem(1110px); */
        


        &_total{
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            width: px-to-rem(350px);
            height: px-to-rem(120px);
            margin-left: px-to-rem(127px);
            margin-top: px-to-rem(35px);
            padding-top: px-to-rem(22px);

            &_info{
                display: flex;
                justify-content: space-between;
                margin-left: px-to-rem(21px);
                margin-right: px-to-rem(16px);
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                color: #000000;
                margin-bottom: px-to-rem(18px);
            }
            &_btn{
                background-color: #000000;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
                border-radius: 20px;
                height: px-to-rem(65px);
               /*  padding-top: px-to-rem(55px); */
                button{
                    background-color: transparent;
                    color:#FFFFFF;
                    height: px-to-rem(65px);
                    width: px-to-rem(350px);
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    text-align: center;
                    &:hover{
                        color:#FFCE7F;
                    }
                }
            }
        }
    }

    .cart_logo{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: px-to-rem(20px);
        color: #1C1C27;
    }

    .cart_items{
        margin-top: px-to-rem(13px);
        max-width: px-to-rem(633px);
    }

    .cart_item{
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        width: px-to-rem(633px);
        height: px-to-rem(218px);
        margin-right: px-to-rem(30px);
        margin-bottom: px-to-rem(30px);
        display: flex;
        align-items: center;
        

        &_block {
            .item_img {
                margin-left: px-to-rem(18px);
                /* margin-top: px-to-rem(18px); */
                img{
                    width: px-to-rem(146px);
                }
            }

            .counter{
                display: flex;
                align-items: center;
                margin-left: px-to-rem(25px);
                &_btn_minus, &_btn_plus{
                    font-size: px-to-rem(30px);
                    border-radius: 100%;
                    color:#FFCE7F;
                    background-color: transparent;
                }
                &_btn_minus{
                    margin-right: px-to-rem(23px);
                    &:hover{
                        color:#000000;
                    }
                }
                &_btn_plus{
                    margin-left: px-to-rem(23px);
                    &:hover{
                        color:#000000;
                    }
                }
                &_item{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 17px;
                    color: #000000;
                }
            }

            &:first-child{
                margin-right: px-to-rem(23px);
            }
            &:last-child{
                margin-left: px-to-rem(215px);
            }
            .name{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                color: #1C1C27;
            }

            .price{
                margin-top: px-to-rem(12px);
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 15px;
                color: #AAAAAA;
                &_black{
                    color: #1C1C27;
                }
            }

            .delete{
                margin-left: px-to-rem(41px);
                margin-bottom: px-to-rem(144px);
                color:#000000;
                &:hover{
                    color: #DF6464;
                    cursor: pointer;
                }
            }
        }

        
    }
    /* .headphones{
        max-height: px-to-rem(888px);
        display: flex;
        max-width: px-to-rem(1110px);
        flex-wrap: wrap;
        margin-top: px-to-rem(20px);

        &_item{
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            width: px-to-rem(350px);
            height: px-to-rem(407px);
            margin-right: px-to-rem(30px);
            padding-top: px-to-rem(15px);
            margin-bottom: px-to-rem(30px);

            display: flex;
            
            flex-direction: column;

            &:nth-child(3) {
                margin-right: px-to-rem(0px);
            }
            &:nth-child(6) {
                margin-right: px-to-rem(0px);
            }
            &_img{
                margin: 0 auto;
                img{
                    width: px-to-rem(219px);
                
                   
                    &:nth-child(3){
                        height: px-to-rem(177px);
                    }
        
                    &:nth-child(6){
                        height: px-to-rem(177px);
                    }
                }
            }

            &_descr{
                margin-top: px-to-rem(54px);
                height: px-to-rem(74px);
                display: flex;
                justify-content: space-between;
            }

            .descr_block{
                margin-left: px-to-rem(21px);
                margin-right: px-to-rem(21px);
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                .name{
                    color: #1C1C27;
                }
                .rating{
                    display: flex;
                    margin-top: px-to-rem(24px);
                    &_star{
                        margin-right: px-to-rem(10px);
                        i {
                            color: #FFCE7F;
                        }
                    }
                    &_num{
                        color: #838383;
                    }
                }
                .buy{
                    margin-top: px-to-rem(26px);
                    button {
                        background-color: white;
                        font-family: 'Montserrat';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 17px;
                        color: #000000;
                        &:hover{
                            color:#FFA542;
                        }
                    }
                    
                }
                .price{
                    color: #FFA542;
                }
            }
        }
    }

    .wireless{
        min-height: px-to-rem(455px);
        display: flex;
        max-width: px-to-rem(1110px);
        flex-wrap: wrap;
        margin-top: px-to-rem(20px);

        &_item{
            background: #FFFFFF;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
            border-radius: 30px;
            width: px-to-rem(350px);
            height: px-to-rem(407px);
            margin-right: px-to-rem(20px);
            padding-top: px-to-rem(15px);
            margin-bottom: px-to-rem(30px);

            display: flex;
            justify-content: center;
            &_img{

                           
                img{
                    width: px-to-rem(219px);
                }
            }

            &_descr{
                margin-top: px-to-rem(54px);
                height: px-to-rem(74px);
            }
        }
    } */
}

.footer{
    max-width: px-to-rem(1110px);
    margin: 0 auto;
    height: px-to-rem(149px);
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;

    &_logo{
        padding-top: px-to-rem(29px);
        padding-left: px-to-rem(29px);
        margin-right: px-to-rem(233px);
        a{
            text-decoration: none;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: px-to-rem(25px);
            color: #101010;
        }
    }

    &_links{
        display: flex;
        padding-top: px-to-rem(33px);
        margin-right: px-to-rem(183px);

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #000000;
        width: px-to-rem(427px);
        justify-content: space-between;
        &_block{
            .link{
                margin-bottom: px-to-rem(10px);

                a:hover{
                    color: #FFA542;
                }
            }

            .lang{
                display: flex;
                margin-top: px-to-rem(35px);
                i{
                    margin-right: px-to-rem(17px);
                    font-size: px-to-rem(16px);
                    color: #838383
                }
                &_choose{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    margin-right: px-to-rem(17px);
                    &:hover{
                        cursor: pointer;
                        color:#FFA542;
                    }
                }
                /* &:nth-child(1){
                        color: #FFA542;
                    } */
            }
        }
    }

    &_socials{
        margin-top: px-to-rem(29px);
        display: flex;
        &_item{
            margin-right: px-to-rem(17px);
            i{
                font-size: px-to-rem(30px);
                &:hover{
                    color: #FFA542;
                    cursor: pointer;
                }
            }

        }
    }
}